<div class="container">
    <h2>My todos</h2>

    <!-- Todos input -->
    <form role="form" ng-submit="addTodo()">
        <div class="row">
            <div class="input-group">
                <input type="text" ng-model="todo" placeholder="What needs to be done?" class="form-control">
        <span class="input-group-btn">
          <input type="submit" class="btn btn-primary" value="Add">
        </span>
            </div>
        </div>
    </form>

    <!-- Todos list -->
    <p class="form-group" ng-repeat="todo in todos">
        <input type="text" ng-model="todo" class="form-control">
    </p>

    <table>
        <tr>
            <th>Author</th>
            <th>Name</th>
        </tr>

        <tr ng-repeat="tool in tools">
            <td>{{ tool.author }}</td>
            <td>{{ tool.name }}</td>
        </tr>
    </table>

</div>
